<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.meizu.voiceassistant">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--wifi权限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="org.dayup.gtask.permission.READ_TASKS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!--访问蓝牙-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!--对蓝牙进行操作-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.flash" />
    <uses-feature android:name="android.hardware.autofocus" />


    <!-- for reading data from add-ons or astrid via v3 content provider -->
    <permission
        android:name="org.tasks.READ"
        android:description="@string/read_permission_desc"
        android:protectionLevel="normal"
        android:label="@string/read_permission_label" />

    <uses-permission android:name="org.tasks.READ" />

    <!-- for writing data to add-ons or astrid via v3 content provider -->
    <permission
        android:name="org.tasks.WRITE"
        android:description="@string/write_permission_desc"
        android:protectionLevel="normal"
        android:label="@string/write_permission_label" />

    <uses-permission android:name="org.tasks.WRITE" />

    <application
        android:name=".SpeechApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.googleacount"
            android:label="googleacount">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.todo"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.todoview" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.ASSISTANT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GrammarSetting"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:label="构建语法"
            android:screenOrientation="portrait" />
        <activity
            android:name=".util.TestDateChange"
            android:label="ChangeDate">
            <intent-filter>
                <action android:name="android.intent.action.TESTDATECHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".IatSettings" />

        <intent-filter>
            <action android:name="Test.Music.Control" />
        </intent-filter>

        <activity android:name=".activity.editTodoTask">
            <intent-filter>
                <action android:name="androdi.intent.action.editTodoTask" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ShowResultActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_floatshow"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver android:name=".openVoice">
            <intent-filter>
                <action android:name="android.intent.action.openVoice" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".TodoAlarm.AlarmReceiver" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".iatService.IntentService_TTS"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".iatService.RecognizeIntentService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.iat" />
            </intent-filter>
        </service>
        <service
            android:name=".iatService.Grammar"
            android:exported="false" />
        <service
            android:name=".GoogleTasks.Syncgoogle"
            android:exported="false" />

        <activity android:name=".wear.Main2Activity" />

        <service android:name=".wear.mWearableListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="/only_phone"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <activity android:name=".activity.testgsorser"></activity>
    </application>

</manifest>